<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <title>Charles Babbage</title>
</head>

<body>



    <header>
        <h1>DH Heroes</h1>

        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/berners-lee">Berners lee</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/hamilton">Margaret Hamilton</a></li>
            <li><a href="/hopper">Grace Hopper</a></li>
            <li><a href="/lovelace">Ada Lovelace</a></li>
            <li><a href="/turing">Alan Turing</a></li>
        </ul>
    </header>



<main>
    <h2>Charles Babbage</h2>



    <img src="/images/babage.jpg" alt="babbage">
     <p>Se considera que la máquina analítica de Babbage fue la primera computadora de la historia. Un diseño inicial plenamente funcional de ella fue terminado en 1835. Sin embargo, debido a problemas similares a los de la máquina diferencial, la máquina analítica nunca fue terminada por Charles.</p>
    
    </main>
</body>

</html>