<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        
        <title>Grace Hopper</title>
    </head>
    <body>
        <header>
           

            <header class=header>
                <h1 class="title">DH Heroes</h1>
                
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/babbage">Charles Babbage</a></li>
                    <li><a href="/berners-lee">Berners lee</a></li>
                    <li><a href="/clarke">Joan Clarke</a></li>
                    <li><a href="/hamilton">Margaret Hamilton</a></li>
                    <li><a href="/lovelace">Ada Lovelace</a></li>
                    <li><a href="/turing">Alan Turing</a></li>
                </ul>
            </header>
        </header>
        <h2 class="t-perfil" >Grace hopper</h2>

            <img class="f-perfil" src="/images/hopper.jpg" alt="clarke">
        </main>
    </body>
</html>
