<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset=" UTF-8">
        
        <title>Inicio</title>
    </head>
    <body class="body">

        <header class=header>
            <h1 class="title">DH Heroes</h1>
            
            <ul>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/berners-lee">Berners lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
                <li><a href="/hamilton">Margart Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul>
        </header>
       </body>
       </html>

       