body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  
 
  display: flex;
  justify-content: center;
  background-color: aqua;
  color: rgb(233, 233, 10);
  background-image: url("../images/babagge.jpg");
}

a {
  color: #61818d;
}
